.heder{
    display: flex;
}
.heder img{
    margin-right: 10px;
    display: block;
}


#info{
    width: 70%;
    text-align: center;  
}
table, tr{
  width: 100%;
  border: 3px solid;

}

button{
    background-color: rgb(190, 74, 74);
  
}
style body{
   background-image:background-image ;

    }
 